body {
  letter-spacing: 0px;
  font-family: "Helvetica", sans-serif;
  background-color: #222222;
  color: white;
}

h2 {
  margin: 0.8em 0em;
}

#myMap {  
  padding: 0;
}

#map {
  height:100vh;
}

#myMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.myForm {
  width: 84%;
}

.myFormGroup{
  text-align: left;
}

.myLabel{
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

.myControl {
  width: 100%;
  border: 0.16em solid #006666;
}

.myControl:focus {
  outline-color: none;
}

.myBtn {
  background-color: #008080;
  border-color: #006666;
}

.myBtn:hover {
  background-color: #006666;
  border-color: #004D4D;
}

#myConnectBtn {
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}

#myLink {
  margin-bottom: 2em;
  color: #008080 !important;
}

#myLink:hover {
  color: #006666 !important;
}

#myAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.6em;
}

#myRegisterPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myRegisterBtn {
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}