#map {
  height:100vh;
}

p {
    text-align: justify;
}

* { box-sizing: border-box; }

body {
  letter-spacing: -1px;
  font-family: 'segoe ui', 'Arial';
  background-color: black;
}
/* Début du composant draggable */

#myAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myDragItem p { 
  margin: 0 !important;
  user-select: none;
}

#myDragSection {
  display: flex;
  align-items: center;
}

#myDragLabel, #myDragButton, #myBtnDel, #myDragItem{
  margin: 2%;
}


#myAvatar p{
  margin-top: 8%;
  text-align: center;
}

/* Page utilisateur */
h2 {
  text-align: center;
  margin: 0em 0.5em 0.5em 0.5em;
  color: white;
}

label {
  margin: 1.5em 1em 0.5em 0.5em;
  color: white;
}
 button[type=submit]{
   margin: 1em 0em 1em 3.5em;
 }

button[type=button]{
  margin: 0em 0em 1em 3.75em;
}
